<h2 class="page-heading">Strutture energia</h2>
<div class="gf-form-group">
	<div class="gf-form max-width-30">
		<span class="gf-form-label width-7">Data source</span>
		<select id='select' name="dataSourceId" class="gf-form-input" ng-model='ctrl.current.dataSourceId' ng-change='ctrl.saveSettings()'>
			<option ng-repeat="(key,value) in ctrl.dataSources" value="{{value.id}}">{{ value.name }}</option>
		</select>
	</div>
	<button ng-click="ctrl.aggiorna()" id="btn_import" class="btn btn-primary btn-md mt-2">Importa tutte le Dashboard</button> 
	<b class="ml-2 text-success"  ng-if="ctrl.completato" style="vertical-align: sub;color:#3bdb3b" >Completato !</b>
</div>